<div id="disqus_thread"></div>

<script>
  var disqus_config = function () {
    this.page.url = "{{ url }}{{ page.url }}";
    this.page.identifier = "{{ page.id }}";
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ site.author.disqus }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript><a href="https://disqus.com/?ref_noscript">Disqus</a> 자바스크립트를 허용해야 댓글을 보실 수 있습니다!</noscript>
