{% include random_post.html %}

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo logo-font center" href="{{ site.url }}" style="max-width: 50%; max-height: 56px; overflow:hidden;">{{ site.title }}</a>
      <a class="button-collapse" data-activates="mobile-nav" href="#"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="logo-font waves-effect" href="{{ site.url }}">Home</a></li>
        <li><a class="logo-font waves-effect" href="{{ url }}/about/">About</a></li>
        <li><a class="logo-font waves-effect" href="javascript:location.href=random_post[0].split(' | ')[1];">Random</a></li>
        <li><a class="dropdown-button waves-effect" href="#!" data-activates="dropdown-menu" data-beloworigin="true"><span class="logo-font">Blog</span><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="dropdown-content" id="dropdown-menu">
  <li><a class="logo-font waves-effect" href="{{ url }}/blog/">Posts</a></li>
  <li><a class="logo-font waves-effect" href="{{ url }}/archive/">Archive</a></li>
  <li><a class="logo-font waves-effect" href="{{ url }}/categories/">Categories</a></li>
  <li><a class="logo-font waves-effect" href="{{ url }}/tags/">Tags</a></li>
  <li class="divider"></li>
  <li><a class="logo-font waves-effect" href="{{ url }}/resources/">Resources</a></li>
</ul>

<ul class="side-nav" id="mobile-nav">
  <li>
    <div class="user-view">
      <div class="background blue"></div>
      <img class="circle materialboxed" data-caption="{{ site.author.name }}" src="https://github.com/{{ site.author.github }}.png" alt="Avatar">
      <span class="logo-font black-text name">{{ site.author.name }}</span>
      <a href="mailto:{{ site.author.email }}"><span class="black-text email">{{ site.author.email }}</span></a>
    </div>
  </li>
  <li><a class="logo-font waves-effect" href="{{ site.url }}">Home</a></li>
  <li><a class="logo-font waves-effect" href="{{ url }}/about/">About</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" id="nav-blog">
      <li>
        <a class="logo-font collapsible-header waves-effect">Blog</a>
        <div class="collapsible-body">
          <ul>
            <li><a class="logo-font" href="{{ url }}/blog/">Posts</a></li>
            <li><a class="logo-font" href="{{ url }}/archive/">Archive</a></li>
            <li><a class="logo-font" href="{{ url }}/categories/">Categories</a></li>
            <li><a class="logo-font" href="{{ url }}/tags/">Tags</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a class="logo-font waves-effect" href="{{ url }}/resources/">Resources</a></li>
</ul>
