<div class="row">
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark red-text" onclick="location.href='https://plus.google.com/share?url={{ url }}{{ page.url }}';">Google+</span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark indigo-text" onclick="location.href='https://www.facebook.com/sharer/sharer.php?u={{ url }}{{ page.url }}';">Facebook</span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark yellow-text" onclick="location.href='https://story.kakao.com/s/share?url={{ url }}{{ page.url }}';">KakaoStory</span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark light-blue-text" onclick="location.href='https://twitter.com/share?url={{ url }}{{ page.url }}';">Twitter</span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark blue-text" onclick="location.href='https://telegram.me/share/url?url={{ url }}{{ page.url }}';">Telegram</span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark green-text" onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url=' + encodeURIComponent({{ url }}{{ page.url }}) + '&title=' + encodeURIComponent({{ page.title }} | {{ site.title }}), 'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;" target="_blank";">NAVER</span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark black-text copy tooltipped" data-clipboard-text="{{ page.title }} | {{ site.title }} : {{ url }}{{ page.url }}" data-position="bottom" data-delay="50" data-tooltip="Copied!">링크복사</span>
  </div>
</div>
