#post-content h1 { font-size: 24px; }
#post-content h2 { font-size: 22px; }
#post-content h3 { font-size: 20px; }
#post-content h4 { font-size: 18px; }
#post-content h5 { font-size: 16px; }
#post-content h6 { font-size: 14px; }

.logo-font { font-family: 'Comfortaa', "Spoqa Han Sans", sans-serif; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.load {
  width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.8;
	background: white;
	z-index: 998;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
}
