<!DOCTYPE html>

{% capture url %}{{ site.url | append: "$" | replace: "/$", "" | replace: "$", "" }}{% endcapture %}

<html lang="ko">
<head>
  {% include meta.html %}
  {% include favicon.html %}
  {% include css.html %}
  {% include js.html %}
  <script>
    $(window).load(function() {
      $(".loading").hide();
    });
  </script>
</head>

<body>
  <header>
    {% include nav.html %}
  </header>
  <main>
    <section>
      {{ content }}
    </section>
  </main>
  <footer class="page-footer blue">
    {% include footer.html %}
  </footer>
</body>
<div class="loading">
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
</div>
</html>
